<div>
    <div class="search-container">
        <label for="search" class="search-label">Search Book:</label>
        <input type="text" id="search" name="search" [(ngModel)]="query" class="search-input">
    </div>

    <h3 id="header">Available Books</h3>
    <div class="category-container">
        <label for="category" class="category-label">Category:</label>
        <select id="category" name="category" [(ngModel)]="book.bookCategory" required class="category-select">
            <option value="FICTION">Fiction</option>
            <option value="HORROR">Horror</option>
            <option value="SCIFI">Sci-Fi</option>
            <option value="CHILDREN">Children</option>
            <option value="FANTASY">Fantasy</option>
            <option value="BIOGRAPHY">Biography</option>
            <option value="COMICS">Comics</option>
        </select>
        <button (click)="searchByCategory(book.bookCategory!)" class="form-button">Search</button>
        <button (click)="getAllBooks()" class="form-button">Get all books</button>
    </div>
<h4 *ngIf="books.length<1">
    No Books found! </h4>

<table id="customer" *ngIf="books.length>0">
    <thead>
        <th>Sl no</th>
        <th>Name</th>
        <th>Author</th>
        <th>Price</th>
        <th>Category</th>
        <th>Choose Quantity</th> 
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let bk of books| searchBook : query">
            <td>{{bk.bookId}}</td>
            <td>{{bk.bookTitle}}</td>
            <td>{{bk.bookAuthor}}</td>
            <td>{{bk.price}}</td>
            <td>{{bk.bookCategory}}</td>
            <td>
                <label for="quantity">Quantity:</label>
                <input type="text" id="quantity" name="quantity" [(ngModel)]="quantity"/>
            </td>
            <td><button (click)="addBookToCart(bk.bookId)">Add To Cart</button></td>
            <td><button (click)="buyNow(bk.bookId)">Buy Now</button></td>
        </tr>
    </tbody>
    
</table>
</div>
