<form>
    <div>
        <label for="bookId">Book Id:</label>
        <input type="number" id="bookId" name="bookId"  [(ngModel)]="review.bookId" required>

    </div>
    <div>
        <label for="userEmail">User Name:</label>
        <input type="text" id="userName" name="userName" [(ngModel)]="review.userName" required>

    </div>
    <div>
        <label for="userId">User id:</label>
        <input type="text" id="userId" name="userId" [(ngModel)]="review.userId" required>

    </div>

    <div>
        <label for="review">Review:</label>
        <input type="text" id="review" name="review" [(ngModel)]="review.review" required>
    </div>
    <div>
        <Button (click)="updatereview()">Submit</Button>
    </div>
</form>
